.card-scene {
  display: flex;
  justify-content: center;   /* center horizontal */
  align-items: center;       /* center vertical (jika parent punya tinggi) */
  perspective: 2000px;
  cursor: pointer;
  margin: 60px auto;         /* kasih jarak atas bawah, otomatis center horizontal */
  width: 100%;         /* biar ga terlalu melebar */
}

.birthday-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* biar semua anak ketengah */
}


.card-book {
  width: 350px;   /* lebar dua halaman */
  height: 550px;
  position: relative;
  transform-style: preserve-3d;
  display: flex; 
}

.card-page {
  width: 50%;       /* masing-masing setengah */
  height: 100%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
}

/*   
Cover kiri */
.card-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 68%;
  height: 111%;
  background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #333;
  transform-origin: left;
  transition: transform 1s ease;
  z-index: 2;
}

.card-book.open .card-cover {
  transform: rotateY(-180deg);
}

.card-cover h2 {
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff4081, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.balloons {
  display: flex;
  gap: 15px;
}
.balloon {
  width: 60px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}
.balloon::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #666;
  transform: translateX(-50%);
}
.balloon.red { background: #ff4d4d; }
.balloon.blue { background: #4da6ff; }
.balloon.yellow { background: #ffd633; }
.balloon.green { background: #66cc66; }

/* Halaman kanan dalam */
.card-inside {
  background: #fff;
  font-family: "Great Vibes", cursive;
  padding: 30px;
  text-align: left;
  color: #333;
  z-index: 1;
}

.card-inside h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  color: #ab5135;
}

.card-inside p {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.signature {
  margin-top: 40px;
  font-family: "Festive", cursive;
  text-align: right;
  font-size: 1.4rem;
  color: #ff4081;
}
